* {
  margin: 0px;
  padding: 0px;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: none;
}

.navbar {
  height: 65px;
  background-color: #131921;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 120px;
  height: 34px;
  margin-left: 11px;
  justify-content: space-evenly;
}
.logo {
  background-image: url("amazon\ logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 105px;
  height: 50px;
  margin: 1px;
  padding: 0px 7px 0px 5px;
}
.nav-deliver {
  color: #929497;
  position: absolute;
  top: 5px;
  left: 153px;
  font-size: 12px;
  font-weight: 400;
}
.nav-icon {
  color: white;
  width: 15px;
  height: 18px;
}

.nav-location {
  color: white;
  font-weight: 700;
}

.nav-add {
  margin: 5px 2px 5px 2px;
  padding: 0px 9px 0px 9px;
  display: flex;
}
.nav-search {
  width: 1250px;
  height: 30px;
  margin: 0px 10px 0px 10px;
  padding: 10px 3px 10px 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav-select {
  height: 40px;
  width: 55px;
  background-color: #e6e6e6;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-input {
  height: 40px;
  width: 100%;
}

#submit-button {
  width: 45px;
  height: 40px;
  background-color: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-user-account {
  width: 131px;
  height: 55px;
  padding: 0px 9px 10px 9px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 9px 10px 9px;
  margin-left: 6px;
  position: relative;
  top: 10px;
}

#user-name {
  color: white;
  width: 133px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  top: 7px;
}

#account-info-lists {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

#list-select {
  background-color: transparent;
  color: #a7acb2;
}

.nav-orders-details {
  width: 59px;
  height: 40px;
  padding: 0px 9px 10px 9px;
  margin-left: 6px;
  display: flex;
}

#nav-returns-option {
  font-size: 12px;
  color: white;
  font-weight: 400;
  margin-top: 9px;
  display: block;
}
.nav-orders-option {
  color: white;
  font-size: 14px;
  font-weight: 800;
  line-height: 15px;
  position: absolute;
  top: 33px;
}

.nav-cart {
  width: 66px;
  height: 39px;
  padding: 0px 9px 11px 9px;
  margin: 0px 6px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.nav-cart-logo {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-cart-text {
  color: white;
  font-size: 15px;
  line-height: 15px;
  font-weight: 900;
  position: absolute;
  right: 48px;
}

.panel {
  height: 39px;
  background-color: #232f3e;
  display: flex;
}

.nav2-panel-options {
  color: white;
  padding: 8px 12px 8px 12px;
  margin: 5px 0px 6px 0px;
  width: 70%;
}

.panel-all {
  color: white;
  font-size: 17px;
  margin-left: 15px;
  padding: 8px 9px 8px 9px;
}

.hero-section {
  height: 1000px;
  background-image: url(milkdaddy.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.alert {
  background-color: white;
  height: 30px;
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.shop-section {
  height: 2000px;
  width: 100%;
  background: linear-gradient(180deg, #ffcdb1 10%, #e3e6e6 80%) no-repeat;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1000px;
}

.milk-box {
  height: 420px;
  width: 320px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px;
}

.milk-box-image {
  height: 70%;
  width: 80%;
  background-image: url(milk.png);
  background-size: cover;
}

.milk-box-text {
  position: absolute;
  top: 70px;
}
